
:root {
    --card-width: 300px;
}
.card_album{
    display: grid;
    grid-template-columns: repeat(3, var(--card-width));
    gap: 20px;
    max-width: calc(var(--card-width) * 3 + 40px);
    margin: 0 auto;
}
.card {
    background-color: var(--bs-red);
    border: 10px solid var(--bs-black);
    border-radius: 15px;
    /*width: var(--card-width);*/
    width: 33%;
    height: 500px;
    position: relative;
    overflow: hidden;
    float: left;
    min-width: 200px;
    padding: 10px;
    margin: 2px;
}
/* Media query to add border on desktop for navigation elements */
@media screen and (min-width: 780px) {
    .card {
        width: 33%;
     }
}

@media screen and (max-width: 780px) {
    .card {
        width: 100%;
    }
}

.card-header {
    min-height: 75px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    width: 100%;
    vertical-align: middle;
}

.card-content {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black
}
.card-body::-webkit-scrollbar {

    width: 3px;
  }
  .card-body::-webkit-scrollbar-thumb {
    background: red; 
  }

  .card-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
.card-content img {
    width: 100%;
    height: 260px;

}

.card-body {
    font-size: 14px;
    text-align: center;
    overflow-y: auto;
}
.card-footer
{
    font-size :8px;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    .card {
        border: 10px solid var(--bs-white);
        color : var(--bs-white)

    }
}

.card-shine-effect-metal {
--shine-deg: 45deg;
position: relative;
overflow: hidden;
border-radius: 0.875rem;
}

.card-shine-effect-metal:after {
content: "";
top: 0;
transform: translateX(100%) rotate(var(--shine-deg));
width: 300%;
height: 300%;
position: absolute;
z-index: 1;
background: linear-gradient(
30deg,
transparent 20%,
transparent 40%,
rgb(255, 255, 255, 0.4) 50%,
rgb(255, 255, 255, 0.4) 55%,
transparent 70%,
transparent 100%
);
transition: transform 2s ease-in;
transform: translateX(100%) rotate(var(--shine-deg));
}

.card-shine-effect-metal:hover:after {
animation: shine 1s 1 ease-in;
}

@-webkit-keyframes shine {
0% {
transform: translateX(100%) rotate(var(--shine-deg));
}
100% {
transform: translateX(-100%) rotate(var(--shine-deg));
}
}
.card-pack{
    background-color: #BC0000;
    background-image: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.7)), url('');
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
    border: 3px solid gold;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
}

.shake {
    animation: shake 1s ;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.button-container {
    position: relative; 
}

#lock.active {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.9);
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lock {
    display: block; 
}